body {
  // https://webgradients.com/
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.maintenance {
  height: calc(100vh - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    li {
      margin: 0 5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0
      }
    }
  }
  a {
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ease;
    &:hover {
      color: white;
    }
  }
}
